<p>
  <strong>Appid:</strong>
  <%= @steam.appid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @steam.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @steam.release_date %>
</p>

<p>
  <strong>English:</strong>
  <%= @steam.english %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @steam.developer %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @steam.publisher %>
</p>

<p>
  <strong>Platforms:</strong>
  <%= @steam.platforms %>
</p>

<p>
  <strong>Required age:</strong>
  <%= @steam.required_age %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @steam.categories %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @steam.genres %>
</p>

<p>
  <strong>Steamspy tags:</strong>
  <%= @steam.steamspy_tags %>
</p>

<p>
  <strong>Achievements:</strong>
  <%= @steam.achievements %>
</p>

<p>
  <strong>Positive ratings:</strong>
  <%= @steam.positive_ratings %>
</p>

<p>
  <strong>Negative ratings:</strong>
  <%= @steam.negative_ratings %>
</p>

<p>
  <strong>Average playtime:</strong>
  <%= @steam.average_playtime %>
</p>

<p>
  <strong>Median playtime:</strong>
  <%= @steam.median_playtime %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @steam.owners %>
</p>

<p>
  <strong>Price:</strong>
  <%= @steam.price %>
</p>

<p>
  <strong>Detailed description:</strong>
  <%= @steam.detailed_description %>
</p>

<p>
  <strong>About the game:</strong>
  <%= @steam.about_the_game %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @steam.short_description %>
</p>

<p>
  <strong>Header image:</strong>
  <%= @steam.header_image %>
</p>

<p>
  <strong>Screenshots:</strong>
  <%= @steam.screenshots %>
</p>

<p>
  <strong>Background:</strong>
  <%= @steam.background %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @steam.movies %>
</p>

<%= link_to 'Edit', edit_steam_path(@steam) %> |
<%= link_to 'Back', steams_path %>
